body{
    background: rgb(216, 219, 184);
    background-image: url(https://i.im.ge/2022/09/11/O4cgNy.210fb8977200036036103eceb02fa4ae.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
}
h1{
    color: rgba(50, 178, 174, 1);
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke: 1px white;
    font-family: 'Poor Story', cursive;
}
#start{
    color: rgba(50, 178, 174, 1);
    border-radius: 3px;
    position:absolute; 
    margin-left:-50px;
    left:50%;
    bottom:90px;
    font-size: 30px;
    font-family: 'Poor Story', cursive;
}
.storyStart{
    display: none;
}
h2{
    color: rgba(50, 178, 174, 1);
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 1px white;
    font-family: 'Poor Story', cursive;
    background: rgba(50, 178, 174, 1);
    border-radius: 5px;
    border: 8px white;
}
#next{
    color: rgba(50, 178, 174, 1);
    border-radius: 3px;
    position:absolute; 
    margin-left:-50px;
    left:50%;
    bottom:40px;
    font-size: 30px;
    font-family: 'Poor Story', cursive;
}
.rock {
    display: none;
    margin: 20px;
    width: 400px;
    transform-origin: center bottom;
    position: fixed; 
    top: 40%;
    left: 35%;
  }