body{
    background: rgb(216, 219, 184);
    background-image: url(https://i.im.ge/2022/09/11/O4cgNy.210fb8977200036036103eceb02fa4ae.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    bottom: 0;
}
.reset{
    color: rgba(50, 178, 174, 1);
    border-radius: 3px; 
    font-size: 20px;
    font-family: 'Poor Story', cursive;
}
h1{
    color: rgba(50, 178, 174, 1);
    font-size: 100px;
    text-align: center;
    -webkit-text-stroke: 1px black;
    font-family: 'Poor Story', cursive;
}
#start{
    color: rgba(50, 178, 174, 1);
    border-radius: 3px;
    position:absolute; 
    margin-left:-50px;
    left:50%;
    bottom:90px;
    font-size: 30px;
    font-family: 'Poor Story', cursive;
}
h2{
    color: rgba(50, 178, 174, 1);
    font-size: 50px;
    text-align: center;
    -webkit-text-stroke: 1px Black;
    font-family: 'Poor Story', cursive;
    background: rgba(50, 178, 174, 1);
    border-radius: 5px;
    border: 8px white;
}
.rock {
    display: none;
    margin: 20px;
    width: 400px;
    transform-origin: center bottom;
    position: fixed; 
    top: 40%;
    left: 35%;
  }
#gameBtn1{
    /* display: none; */
    color: rgba(50, 178, 174, 1);
    border-radius: 3px;
    position:absolute; 
    font-size: 30px;
    font-family: 'Poor Story', cursive;
}
.gameStart1{
    display: none;
}
#firefly{
    background-color: transparent;
    border-radius: 150px;
    display: block;
    position: absolute;
    display: none;
}
.death{
    display: none;
}
.storyStart{
    display: none;
}
/* The story Carousel */
.firstPt{
    color: rgba(50, 178, 174, 1);
    border-radius: 3px;
    left:20%;
    top: 20%;
    font-size: 30px;
    font-family: 'Poor Story', cursive;
    display: none;
}
#next{
    color: rgba(50, 178, 174, 1);
    border-radius: 3px;
    position:absolute; 
    margin-left:-50px;
    left:60%;
    bottom:40px;
    font-size: 30px;
    font-family: 'Poor Story', cursive;
}
#prev{
    color: rgba(50, 178, 174, 1);
    border-radius: 3px;
    position:absolute; 
    margin-left:-50px;
    left:40%;
    bottom:40px;
    font-size: 30px;
    font-family: 'Poor Story', cursive;
}
  .story,
  .story--hidden{
    display: none;
  }
  .storyCarousel .story--visible{
    display: block;
  }
  
  .story{
      color: rgba(50, 178, 174, 1);
      border-radius: 3px;
      left:20%;
      top: 20%;
      font-size: 30px;
      font-family: 'Poor Story', cursive;
  }
  .dialog{
    color: rgba(141, 168, 183, 0.96);
      border-radius: 10px;
      left:20%;
      top: 20%;
      font-size: 30px;
      font-family: 'Rock Salt', cursive;
  }